{% extends 'base.html' %}

{% block title %}User Singin{% endblock title %}

{% block body %}

  <!-- #################### -->
<div class="container mr" data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000" style="margin-top: 70px;">
    <div class="row">
    <div class="col-md-7 mt-3" style="background-color: rgb(0, 0, 0); padding-bottom: 8px; color: cornsilk; ">
      <form action="{% url 'singin' %}" method="post">
        {% csrf_token %}
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="enter username" required>
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="pass" placeholder="enter password" required>
      <input type="submit" class="form-control my-3 btn btn-secondary" value="Log in">
      <a href="{% url 'singup' %}" class="m-3">Register</a>
      <a href="{% url 'forgetpassword' %}" class="">Forgetpassword</a>
   </form>
    </div>
 
</div>
</div>
{% endblock body %}